li{
	list-style-type: none;
}
.main-container{
	background: #eee7e7;
}

.top-most-nav{
	background: #eeeded;
}
#mgid{
	background: ;
}

.menu-list{
	list-style: none;
}
.menu-list li a:hover{
	display: block;
	color: black;
	font-weight: 900px;
}

.list-menu-item{	
	height: auto;
	width: 700px;
	height: 400px;
	background: #eeeded;
	position: absolute;
	z-index: 1000;
	top: 0px;
	left: 230px;
	display:none;
	border: 1px solid black;
}
.menu-list li a:hover > .list-menu-item{
	display: block;
}
#mgid ul li a ul li{
	list-style: none;
	font-size: 10px;
}
.dealsoftheday{
	background: green;
}

.deals-item{
	list-style: none;
}
.deals-menu{	
	height: auto;
	width: 700px;
	height: 400px;
	background: #eeeded;
	position: absolute;
	z-index: 1000;
	top: 0px;
	left: 230px;
	display:none;
	border: 1px solid black;
}